<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="center">
        <h1>Personal Details</h1>
      </div>
      <div class="form">
          <form [formGroup]="personalDetails" (ngSubmit)="onPersonalDetailsFormSubmit(personalDetails.value)">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputFirstName">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" formControlName="firstName">
              </div>
              <div class="form-group col-md-4">
                <label for="inputMiddleName">Middle Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Middle Name" formControlName="middleName">
              </div>
              <div class="form-group col-md-4">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" formControlName="lastName">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
              </div>
              <div class="form-group col-md-4">
                <label for="inputPhone">Phone</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="Phone" formControlName="phone">
              </div>
              <div class="form-group col-md-4">
                <label for="inputDateOfBirth">Date of Birth</label>
                <input type="date" class="form-control" id="inputDateOfBirth" formControlName="dateOfBirth">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAddressLine1">Address Line 1</label>
                <input type="text" class="form-control" id="inputAddressLine1" placeholder="Address Line 1" formControlName="addressLine1">
              </div>
              <div class="form-group col-md-6">
                <label for="inputAddressLine2">Address Line 2</label>
                <input type="text" class="form-control" id="inputAddressLine2" placeholder="Address Line 2" formControlName="addressLine2">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="City" formControlName="city">
              </div>
              <div class="form-group col-md-2">
                <label for="inputZIPCode">ZIP Code</label>
                <input type="text" class="form-control" id="inputZIPCode" placeholder="ZIP Code" formControlName="zipCode">
              </div>
              <div class="form-group col-md-3">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState" placeholder="State" formControlName="state">
              </div>
              <div class="form-group col-md-3">
                <label for="inputCountry">Country</label>
                <select id="inputCountry" class="form-control" formControlName="country">
                  <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                </select>
              </div>

            </div>
            <div class="center">
            <button class="btn btn-primary" [disabled]="!personalDetails.valid">Submit</button>
            </div>
          </form>
      </div>
    </div>
  </body>
</html>